# Final Project CSC221 Part1
### Group 4

In [1]:
# Working code to take the code directly from the webpage to the file

In [1]:
#So this works.
import csv

from urllib.request import urlopen, Request
from bs4 import BeautifulSoup


url = 'https://en.wikipedia.org/wiki/Median_income'
req = Request(url, headers = {'User-Agent':'Mozilla/5.0'})
html = urlopen(req)
bs = BeautifulSoup(html, 'html.parser')

table = bs.find('table',{'class':'wikitable'})
rows = table.find_all('tr')
csvFile = open('med_inc.csv','wt+')
writer = csv.writer(csvFile)
try:
  for row in rows:
    csvRow=[]
    for cell in row.find_all(['td','th']):
      csvRow.append(cell.get_text().strip())
    writer.writerow(csvRow)
finally:
  csvFile.close()

In [2]:
# This is the correct procedure for the assignment.

In [3]:
#Here I am just looking at the contents of the table. 
url = "https://en.wikipedia.org/wiki/Median_income"
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
page=urlopen(req).read()
soup = bs(page, "lxml")

In [4]:
#Code to create a table. 
import pandas as pd

A=[]
B=[]

for row in table.find_all('tr'):
    cells = [cell.get_text(strip=True) for cell in row.find_all(["td"])]
    if cells:
        A.append(cells[0])
        num_str = "".join(ch for ch in cells[1] if ch.isdigit() or ch == ".")
        B.append(float(num_str))
    
df = pd.DataFrame({'Location':A,'2021 USD':B})
df

           Location  2021 USD
0        Luxembourg   49748.0
1     United States   46625.0
2            Norway   41621.0
3       Switzerland   39698.0
4            Canada   39388.0
5           Austria   37715.0
6           Belgium   37110.0
7           Iceland   36853.0
8         Australia   36835.0
9       Netherlands   35891.0
10          Germany   35537.0
11          Denmark   34061.0
12           Sweden   33472.0
13      New Zealand   32158.0
14      South Korea   31882.0
15          Ireland   31392.0
16          Finland   30727.0
17           France   30622.0
18         Slovenia   28698.0
19            Italy   27949.0
20   United Kingdom   26884.0
21            Spain   26630.0
22          Estonia   26075.0
23           Poland   24264.0
24   Czech Republic   23802.0
25           Israel   21366.0
26            Japan   21282.0
27        Lithuania   20856.0
28           Latvia   19908.0
29          Croatia   19680.0
30         Portugal   19147.0
31           Greece   16774.0
32  Slovak Republic   16410.0
33          Romania   15898.0
34          Hungary   15361.0
35         Bulgaria   14990.0
36            India   10800.0
37           Turkey   10341.0
38            Chile   10101.0
39       Costa Rica    8915.0
40           Brazil    8460.0
41           Mexico    6090.0
42     South Africa    6068.0

In [5]:
# This should output the file using the correct directions.
df.to_csv("webscrape-data", index=False)